              ####### CONFIGS SERVICE #######
________________________________________________________________________________


NEW_FILES = /home/erlanrox/Documents/NEW_BOLETOS

LOGS = /home/erlanrox/Documents/BOLETOS_LOGS

